.column{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    flex:1
}

.row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.img-align{
    object-fit: contain;
    height: 80vh;
    width: 80vh;
}

.Project-title{
    color: var(--primary-clr);
    font-size: 1.5rem;
    justify-content: center;
    margin: 10px;
}

.Content{
    display: block;
    flex-grow: 3;
    background-color: var(--div-clr);
    margin: 10px  20px;
    width: 60vh;
    height: 40vh;
    font-family: Avenir;
    border-top:10px solid var(--primary-clr) ;
}

.Project-desc{
    font-size: 1rem;
    color: var(--light-clr);
    margin: 10px;
    line-height: 1.5em;
    font-weight: 500;
}

.fa-github,.fa-external-link-alt{
    color: var(--light-clr);
    opacity: 0.7;
    font-size: 1.5em;
    margin: 10px;
}


.stack{
    color: var(--light-clr);
    opacity: 0.7;
    line-height: 2em;
    margin: 10px;
    font-size: 0.9rem;
}

.fa-github:hover,
.fa-external-link-alt:hover,
.stack:hover{
    color: var(--primary-clr);
}
